data/
.DS_Store
*.ckpt
*.pkl
*.torch
*.csv
*.pt
*.h5ad
*.txt
*.npy
*.safetensors
*.env
wandb/*
notebooks/jeannie/outputs/*
outputs/*
runs/*
**/__pycache__/*
**/__marimo__/*
artifacts/*.json
artifacts/*.npz